.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Inter', 'Arial', sans-serif;
  }
  
  
  .card__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
  }
  
  .card__description {
    display: flex;
    background-color: white;
    color: black;
    padding: 25px 15px 31px 21px;
    align-items: center;
    justify-content: space-between;
  }
  
  .card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    max-width: 220px;
  }
  
  .card__like-button{
    background: transparent url(../images/like-inactive.svg) center no-repeat;
    width: 21px;
    height: 18px;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
  
  .card__like-button:hover {
    opacity: .5; 
  }