.footer {
  color: #545454;
  margin-bottom: 60px;
  margin-top: 67px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter', 'Arial', Sans-serif;
  margin: 0;
}

@media screen and (max-width: 480px) { /* <= 879px, 880 is already the desktop */
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-top: 48px;
    margin-bottom: 36px;
    margin-left: 19px;
  }

.footer {
  padding: 0;
  margin: 0;
}

}