.footer {
  color: #545454;
  max-width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  font-family: 'Inter', 'Arial', Sans-serif;;
  margin-left: 200px;
  margin-top: 139px;
}