.footer {
  color: #545454;
  max-width: 100%;
  margin-left: 200px;
  margin-top: 139px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter', 'Arial', Sans-serif;
}

@media screen and (max-width: 480px) { /* <= 879px, 880 is already the desktop */
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}