.footer {
  color: #545454;
  max-width: 100%;
  margin-left: 200px;
  margin-top: 139px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  font-family: 'Inter', 'Arial', Sans-serif;
}

@media screen and (max-width:480px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
  }
}