.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84 84 84/ 0.7);

}

@media screen and (max-width:480px) {
.header {
  max-width: 320px;
  width: 100%;
  min-height: 56px;
  padding-top: 28px;
}

}