.header {
  border-bottom: 1px solid rgba(84 84 84/ 0.7);
  display: flex;
  min-height: 120px;
  align-items: center;
}


@media screen and (max-width:480px) {
.header {
  min-height: 85px;
  width: 100%;
}

.header__logo {
  width: 126px;
  height: 24px;
  margin-left: 27px;
}

}