.header {
 /* margin-top: 45px; */
  border-bottom: 1px solid rgba(84 84 84/ 0.7);
 /* padding-bottom: 40px; */
  display: flex;
  min-height: 120px;
  align-items: center;
}

@media screen and (max-width:480px) {
.header {
  /*max-width: 320px;
  width: 100%;
  padding-top: 28px;
  margin-left: 27px;*/
  min-height: 85px;
}

}