.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  padding: 0 19px;
  visibility: hidden;
}

.modal_opened {
  transition: visibility 0.3s, opacity 0.3s;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal__close {
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6s;
}

.modal__heading {
 color: black;
 font-size: 24px;
 font-weight: 900;
 margin-bottom: 36px; 
 margin-top: 20px;
  margin-left: 36px;
  /*margin-right: 64px;*/
 font-family: 'Inter', 'Arial', sans-serif;
 /*padding-bottom: 54px;*/
 line-height: 29px;

}


.modal__input {
  width: 100%;
  padding: 12px 0;
  margin-bottom: 36px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 14px;
  outline: none;
  line-height: 17px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
}

.modal__input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.modal__input::placeholder {
  color: #ccc;
}

.modal__button {
  width: 100%;
  padding: 14px;
  background-color: black;
  color: white;
  border: none;
  /*border-radius: 5px;*/
  font-size: 16px;
  cursor: pointer;
  font-family: 'inter', 'arial', sans-serif;
  line-height: 22px;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.modal__button:hover {
  background-color: #333;
  opacity: 0.8s;
}



@media screen and (max-width: 550px) {
  .modal__container {
    width: 282px; 
    padding: 36px;
  }

  .modal__heading {
    margin-top: 0; 
    margin-left: 0; 
    font-size: 18px;
    line-height: 22px;

  }

  .modal__input {
    margin-bottom: 36px; 
  }

  .modal__button {
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 17px;
  }

  .modal__close {
    /*width: 26px;*/
    height: 26px;
    top: -45px;
    right: -45px;
    margin-right: 40px;
  }
}