.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 7px 17px;
  align-items: baseline;
  justify-content: space-between;
} 

.profile__edit-button {
  background: transparent url(../images/Edit\ button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid white ;
  cursor: pointer;
  background-size: 10px 10px;
  padding: 0;
  align-self: center;
  transition: 0.3s;
  margin-right: 20px;
}

.profile__edit-button:hover {
  opacity: 0.6;

}

.proflie__add-button {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 2px;
}

.proflie__add-button:hover {
  opacity: 0.6;
}

.profile__title{
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Inter', 'Arial', sans-serif;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
  font-family: 'Inter', 'Arial', sans-serif;
  

}

.profile__image {
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width:480px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
    padding: 0;
  }

  .profile__image{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center; 
    font-size: 14px;
    max-width: 282px;
}

  .proflie__add-button {
    width: 282px;
    margin-top: 36px;
    margin-left: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 222px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}